:root {

  /* Light Colors  */

  --background: #faf4ed; /* Background color */
  --accent: #d7827e; /* Hover color */
  --cards: #fffaf3; /* Cards color */

  /* Fonts Color */
  --fg: #575279; /* Foreground color */
  --sfg: #797593; /* Sceondary Foreground color */

  /* Image background  */
  --imgcol: linear-gradient(
    #faf4edc7,
    #faf4edc7
  ); /* Filter color */
}

.darktheme {
  /* Dark Colors  */
  
  --background: #232136; /* Background color */
  --accent: #ea9a97; /* Hover color */
  --cards: #2a273f; /* Cards color */

  /* Fonts Color */
  --fg: #e0def4; /* Foreground color */
  --sfg: #908caa; /* Secondary Foreground color */

  /* Image background  */
  --imgcol: linear-gradient(
    #232136c7,
    #232136c7
  ); /* Filter color */
}
